body {
    background-color: powderblue;
}

hr{
    border-color: darkblue;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    border-width: 8px;
    width: 8%;
}

h1{
    color: #646FD4;
    font-size: 50px;
}

h3{
    color: #646FD4;
}

.hola{
    
}